.hide {
  display: none;
}

.show {
  display: block;
}

body {
  background-color: rgb(23, 23, 24);
  text-align: center;
}

#btnStart {
  border-radius: 3px;
  text-decoration: none;
  padding: 1.5em;
  margin: 1.5em;
  font-size: 3em;
  font-weight: bold;
  transition: all 0.5s;

  border-color: rgb(89, 91, 197);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#btnDone {
  border-radius: 3px;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 1em;
  font-size: 2em;
  font-weight: bold;
  transition: all 0.5s;

  border-color: rgb(89, 91, 197);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timer-space {
  font-family: "Didact Gothic", sans-serif;
  height: 60px;
}

.title {
  margin-top: 40px;
  color: rgb(89, 91, 197);
}

h1 {
  color: rgb(89, 91, 197);
  font-family: "Didact Gothic", sans-serif;
  font-size: 3rem;
}

.quiz-content,
#results {
  letter-spacing: 3px;
  padding: 15px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Didact Gothic", sans-serif;
  color: rgb(89, 91, 197);
}
